* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

#container {
    width: 700px;
    background-color: rgb(6, 53, 26);
    height: 700px;
    margin: 500px;
    padding-top: 100px;

    display: grid;
    justify-content: center;
    align-items: center;
  
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

button {
    color: white;
}

#display {
    background-color: grey;
}

#calculator {

}

.clear {
    width: ;
}